*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.board-text {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  padding: 2%;
}

.board-container {
  display: flex;
  height: 500px;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}

.board-container > .board {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: #d4f1f9;
}

.placement-board {
  display: flex;
  justify-content: center;
}

.board-container > .board.hide {
  width: 40%;
  display: none;
}

.ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  right: 50;
}

@media screen and (max-width: 600px) {
  .board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  .board-container > .board {
    height: 80vw;
    width: 80vw;
  }
}

/* Drag and Drop Code */
body {
  background: darksalmon;
}

.draggable {
  background-color: grey;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.container {
  height: 10%;
  width: 10%;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

/* Vertical Ship Heights */

.defaultCarrier.vertical {
  height: 50%;
}

.defaultBattleship.vertical {
  height: 40%;
}

.defaultSubmarine.vertical,
.defaultDestroyer.vertical {
  height: 30%;
}

.defaultPatrolboat.vertical {
  height: 20%;
}

/* Horizontal Ship Heights */

.defaultCarrier.horizontal {
  width: 50%;
}

.defaultBattleship.horizontal {
  width: 40%;
}

.defaultSubmarine.horizontal,
.defaultDestroyer.horizontal {
  width: 30%;
}

.defaultPatrolboat.horizontal {
  width: 20%;
}

.dragImageRotate {
  transform: rotate(90deg);
}

.player-board {
  overflow: hidden;
}
