*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  font-size: 1.5rem;
}

.board-container {
  display: flex;
  height: 70vh;
  justify-content: space-around;
}

.board-container > .board {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  min-height: 200px;
  background-color: #d4f1f9;
}

.placement-board {
  display: flex;
  justify-content: center;
}

.board-container > .board.hide {
  width: 40%;
  display: none;
}

.ship-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

footer {
  position: absolute;
  bottom: 0;
  right: 50;
}

@media screen and (max-width: 600px) {
  .board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .board-text {
    text-align: center;
  }

  .board-container > div {
    min-width: 60vw;
    min-height: 60vw;
  }
}

/* Drag and Drop Code */
body {
  background: darksalmon;
}

.draggable {
  background-color: grey;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.draggable.carrier {
  height: calc(500% + 10px);
}

.draggable.battleship {
  height: calc(400% + 8px);
}

.draggable.submarine,
.draggable.destroyer {
  height: calc(300% + 6px);
}

.draggable.patrolboat {
  height: calc(200% + 4px);
}

/* want height bigger than the fill or it will look weird */
.container {
  /* display: inline-block; */
  height: 10%;
  width: 10%;
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}
